# GitHub 언어 통계에서 제외하고 싶은 파일/언어 유형
Makefile linguist-vendored
*.cmake linguist-vendored
*.o linguist-generated
*.out linguist-generated
*.obj linguist-generated
*.so linguist-generated
*.a linguist-generated
*.dll linguist-generated
*.class linguist-generated
*.jar linguist-generated
